/*#4c4f69: generic text color */
/*#eff1f5: generic background color */
/*#dfe1e7: background color for buttons or items that need to contrast the background*/
/*#e6e9ef: dark color for high contrast*/

/* Top Bar */
#panel {
  background-color: #eff1f5;
  color: #4c4f69;
  font-feature-settings: "tnum";
}

#panel .panel-button {
  color: #4c4f69;
}

#panel .panel-button:hover {
  background-color: #dfe1e7;
}

#panel .panel-button:hover.clock-display .clock {
  background-color: #dfe1e7;
}

#panel .panel-button#panelActivities .workspace-dot {
  background-color: #4c4f69;
}

#dash .dash-background {
  color: #4c4f69;
  background-color: #dfe1e7;
}

#dash .dash-item-container .show-apps .overview-icon,
#dash .dash-item-container .overview-tile .overview-icon,
#dash .dash-item-container .grid-search-result .overview-icon {
  color: #4c4f69;
}

.arcmenu-button {
  background-color: #dfe1e7;
  color: #4c4f69;
}

/* screenshot-ui */
.screenshot-ui-close-button {
  background-color: #dfe1e7;
  color: #4c4f69;
}
.screenshot-ui-capture-button {
  border: 4px #4c4f69;
  padding: 4px;
}

.screenshot-ui-capture-button .screenshot-ui-capture-button-circle {
  background-color: #4c4f69;
}

.screenshot-ui-capture-button:cast .screenshot-ui-capture-button-circle {
  background-color: #179299;
}

.screenshot-ui-show-pointer-button, .screenshot-ui-type-button {
  background-color: #dfe1e7;
  color: #4c4f69;
}

.screenshot-ui-show-pointer-button:hover, .screenshot-ui-type-button:hover {
  background-color: #e6e9ef;
}

.search-entry,
StEntry {
  background-color: #dfe1e7;
  color: #4c4f69;
}

StLabel.hint-text:insensitive {
  color: #4c4f69;
}

.search-entry:focus,
StEntry:focus {
  background-color: #e6e9ef;
}

/* Popovers/Menus */
.popup-menu-boxpointer {
  -arrow-background-color: transparent;
  -arrow-border-color: transparent;
  background: transparent;
}

.popup-menu {
  color: #4c4f69 !important;
  border: none;
  outline: none;
}

.popup-menu .popup-menu-content {
  background-color: #eff1f5;
  border: none;
  outline: none;
}

.popup-menu .popup-menu-item {
  color: #4c4f69 !important;
  background-color: transparent;
}

.popup-menu .popup-menu-item:checked {
  color: #4c4f69 !important;
  background-color: #eff1f5 !important;
}

.popup-menu .popup-menu-item:checked:focus, .popup-menu .popup-menu-item:checked:hover, .popup-menu .popup-menu-item:checked.selected {
  color: #4c4f69 !important;
}

.popup-menu .popup-menu-item:checked:active {
  color: #4c4f69 !important;
}

.popup-menu .popup-menu-item:checked:insensitive {
  color: #4c4f69 !important;
}

.popup-menu .popup-menu-item:focus, .popup-menu .popup-menu-item:hover, .popup-menu .popup-menu-item.selected {
  color: #4c4f69 !important;
  background-color: #dfe1e7 !important;
}

.popup-menu .popup-menu-item:active, .popup-menu .popup-menu-item.selected:active {
  color: #4c4f69 !important;
  background-color: #eff1f5 !important;
}

.popup-menu .popup-menu-item:insensitive {
  color: #4c4f69 !important;
}

.popup-menu .popup-sub-menu {
  background-color: #eff1f5 !important;
  color: #4c4f69 !important;
}

.popup-menu .popup-sub-menu .popup-menu-item {
  margin: 0;
}

.popup-menu .popup-sub-menu .popup-menu-item:focus, .popup-menu .popup-sub-menu .popup-menu-item:hover, .popup-menu .popup-sub-menu .popup-menu-item.selected {
  color: #4c4f69 !important;
  background-color: #eff1f5 !important;
}

.popup-menu .popup-sub-menu .popup-menu-item:active, .popup-menu .popup-sub-menu .popup-menu-item.selected:active {
  color: #4c4f69 !important;
  background-color: #eff1f5 !important;
}

.popup-menu .popup-sub-menu .popup-menu-item:insensitive {
  color: #4c4f69 !important;
}

.popup-menu .popup-inactive-menu-item {
  color: #4c4f69 !important;
}

.popup-menu .popup-inactive-menu-item:insensitive {
  color: #4c4f69 !important;
}

.quick-settings .icon-button, .quick-settings .message-notification-group .message-collapse-button, .message-notification-group .quick-settings .message-collapse-button, .quick-settings .message .message-header .message-expand-button, .message .message-header .quick-settings .message-expand-button,
.quick-settings .message .message-header .message-close-button,
.message .message-header .quick-settings .message-close-button, .quick-settings .button {
  background-color: #dfe1e7;
  color: #4c4f69;
}

.quick-settings .icon-button > StIcon, .quick-settings .message-notification-group .message-collapse-button > StIcon, .message-notification-group .quick-settings .message-collapse-button > StIcon, .quick-settings .message .message-header .message-expand-button > StIcon, .message .message-header .quick-settings .message-expand-button > StIcon,
.quick-settings .message .message-header .message-close-button > StIcon,
.message .message-header .quick-settings .message-close-button > StIcon {
  color: #4c4f69;
}

.quick-toggle, .quick-toggle-has-menu {
  background-color: #dfe1e7 !important;
  border: none;
  outline: none;
}

.quick-toggle {
  background-color: #dfe1e7 !important;
}

.quick-toggle:hover {
  background-color: #e6e9ef !important;
  color: #4c4f69 !important;
}

.quick-toggle:active {
  background-color: #179299 !important;
  color: #eff1f5 !important;
}

.quick-toggle:checked {
  background-color: #179299 !important;
  color: #eff1f5 !important;
}

.quick-toggle:checked:hover {
  background-color: #e6e9ef !important;
  color: #4c4f69;
}

.quick-toggle:checked:active {
  background-color: #179299 !important;
  color: #eff1f5 !important;
}

.quick-toggle.button {
  color: #4c4f69;
}

.quick-toggle.button:checked {
  color: #eff1f5 !important;
}

.quick-toggle.button:checked:hover {
  background-color: #179299 !important;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
  color: #eff1f5 !important;
}

.quick-toggle-has-menu .quick-toggle-separator {
  background-color: #e6e9ef;
  opacity: 0.1;
}

.quick-toggle-has-menu .quick-toggle-menu-button {
  background-color: #dfe1e7;
}

.quick-toggle-has-menu .quick-toggle-menu-button:hover {
  background-color: #e6e9ef !important;

}

.quick-toggle-has-menu .quick-toggle-menu-button:active {
  background-color: #e6e9ef !important;
}

.quick-toggle-has-menu .quick-toggle-menu-button:checked {
  background-color: #179299 !important;
  color: #eff1f5 !important;
}

.quick-toggle-has-menu .quick-toggle-menu-button:checked:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
  color: #eff1f5 !important;
}

.quick-toggle-has-menu .quick-toggle-menu-button:checked:active {
  background-color: #179299 !important;
  color: #eff1f5 !important;
}

.device-subtitle {
  color: #4c4f69;
}

.slider {
  color: #4c4f69;
  -barlevel-background-color: #dfe1e7;
  -barlevel-active-background-color: #179299;
}

.quick-toggle-menu-button.icon-button:last-child > StIcon {
  color: #4c4f69;
}


.quick-toggle-menu-button.icon-button:last-child:checked > StIcon {
  color: #eff1f5;
}

.quick-toggle-menu-button.icon-button:last-child:checked:hover > StIcon {
  color: #eff1f5;
}

.quick-slider .icon-button, .quick-slider .message-notification-group .message-collapse-button, .message-notification-group .quick-slider .message-collapse-button, .quick-slider .message .message-header .message-expand-button, .message .message-header .quick-slider .message-expand-button,
.quick-slider .message .message-header .message-close-button,
.message .message-header .quick-slider .message-close-button {
  color: #4c4f69;
}

.quick-slider .icon-button:hover, .quick-slider .message-notification-group .message-collapse-button:hover, .message-notification-group .quick-slider .message-collapse-button:hover, .quick-slider .message .message-header .message-expand-button:hover, .message .message-header .quick-slider .message-expand-button:hover,
.quick-slider .message .message-header .message-close-button:hover,
.message .message-header .quick-slider .message-close-button:hover {
  background-color: #e6e9ef;
  color: #4c4f69;
}

.quick-slider .icon-button:active, .quick-slider .message-notification-group .message-collapse-button:active, .message-notification-group .quick-slider .message-collapse-button:active, .quick-slider .message .message-header .message-expand-button:active, .message .message-header .quick-slider .message-expand-button:active,
.quick-slider .message .message-header .message-close-button:active,
.message .message-header .quick-slider .message-close-button:active {
  background-color: #eff1f5;
}

.icon-button:hover {
  background-color: #e6e9ef !important;
}

.icon-button:hover > StIcon {
  color: #4c4f69;
}

.quick-toggle-menu {
  background-color: #eff1f5 !important;
  color: #4c4f69;
}

.quick-toggle-menu .popup-menu-item:focus, .quick-toggle-menu .popup-menu-item:hover, .quick-toggle-menu .popup-menu-item.selected {
  color: #4c4f69;
  background-color: #e6e9ef !important;
}

.quick-toggle-menu .popup-menu-item:active {
  background-color: #179299 !important;
  color: #eff1f5;
}

.quick-toggle-menu .popup-menu-item:active > StLabel {
  color: #eff1f5;
}

.quick-toggle-menu .header .icon.active {
  background-color: #179299 !important;
  color: #eff1f5 !important;
}

.quick-settings-system-item .power-item:insensitive {
  background-color: transparent;
}

/* Calendar */
.calendar {
  background-color: transparent;
  color: #4c4f69;
}

.calendar .calendar-month-label {
  color: #4c4f69 !important;
  background-color: transparent;
}

.calendar .pager-button {
  background-color: transparent;
  color: #4c4f69 !important;
}

.calendar .pager-button:hover, .calendar .pager-button:focus {
  background-color: #dfe1e7;
}

.calendar .pager-button:active {
  background-color: #dfe1e7;
}

.calendar .calendar-day {
  color: #4c4f69 !important;
  font-feature-settings: "tnum";
  background-color: transparent;
}

.calendar .calendar-day:hover, .calendar .calendar-day:focus {
  background-color: #dfe1e7;
  color: #4c4f69 !important;
}

.calendar .calendar-day:active, .calendar .calendar-day:selected {
  color: #4c4f69 !important;
  background-color: #dfe1e7;
}

.calendar .calendar-day.calendar-weekend {
  color: #4c4f69 !important;
}

.calendar .calendar-day {
  color: #4c4f69 !important;
}

.calendar .calendar-day-top {
  color: #4c4f69 !important;
}

.calendar .calendar-day-left {
  color: #4c4f69 !important;
}

.calendar .calendar-nonwork-day {
  color: #4c4f69;
}

.calendar .calendar-today {
  color: #4c4f69 !important;
  background-color: #dfe1e7;
}

.calendar .calendar-today:hover, .calendar .calendar-today:focus {
  background-color: #dfe1e7;
  color: #4c4f69 !important;
}

.calendar .calendar-today:active {
  background-color: #dfe1e7;
  color: #4c4f69 !important;
}

.calendar .calendar-today:selected {
  background-color: #dfe1e7;
  color: #4c4f69 !important;
}

.calendar .calendar-today:selected:hover, .calendar .calendar-today:selected:focus {
  background-color: #dfe1e7;
  color: #4c4f69 !important;
}

.calendar .calendar-day-with-events {
  color: #4c4f69;
}

.calendar .calendar-day-with-events.calendar-work-day {
  color: #4c4f69;
}

.calendar .calendar-other-month {
  color: #4c4f69 !important;
}

.calendar .calendar-other-month.calendar-weekend {
  color: #4c4f69 !important;
}

.calendar .calendar-day-heading {
  background-color: transparent;
  color: #4c4f69;
}

.calendar .calendar-week-number {
  background-color: #dfe1e7;
  color: #4c4f69;
  font-feature-settings: "tnum";
}

.weather-header:insensitive, .world-clocks-header:insensitive, .event-placeholder:insensitive, .events-title {
  color: #4c4f69;
}

.world-clocks-timezone:insensitive {
  color: #4c4f69;
}

.notification,
.notification-banner,
.message-list {
  background-color: #dfe1e7;
  color: #4c4f69;
}

.notification:hover,
.notification-banner:hover {
  background-color: #dfe1e7;
  color: #4c4f69;
}

.date-menu .notification-icon,
.date-menu .system-status-icon {
    color: #4c4f69;
}

.notification-button {
    background-color: mix(#dfe1e7, #4c4f69, 0.2);
    color: #4c4f69;
}

.notification-button:hover {
    background-color: #179299;
    color: #eff1f5;
}

.message-list-clear-button {
    color: #4c4f69;
    background-color: #dfe1e7;
}

.message-expand-button {
    color: #4c4f69;
    background-color: #dfe1e7;
}

.message-expand-button:hover {
    color: #eff1f5;
    background-color: #179299;
}

.datemenu-today-button {
  background: none;
  color: #4c4f69;
}

/* Date/Time Menu */
.world-clocks-button,
.weather-button,
.events-button {
  color: #4c4f69;
  background-color: #dfe1e7;
}

.world-clocks-button:hover,
.weather-button:hover,
.events-button:hover, .world-clocks-button:focus,
.weather-button:focus,
.events-button:focus {
  color: #4c4f69;
  background-color: #dfe1e7;
}

.world-clocks-button:active,
.weather-button:active,
.events-button:active {
  color: #4c4f69;
  background-color: #dfe1e7;
}

.screenshot-ui-panel, .workspace-switcher-container, .switcher-list, .resize-popup, .osd-window {
  color: #4c4f69;
  background-color: #eff1f5;
}

.osd-window {
  background-color: #eff1f5;
}

.osd-window .level {
  background-color: #eff1f5;
  color: #4c4f69;
  -barlevel-height: 2px;
  -barlevel-background-color: #dfe1e7;
  -barlevel-active-background-color: #179299;
  -barlevel-overdrive-color: #d20f39;
  -barlevel-overdrive-separator-width: 2px;
  -barlevel-border-width: 0;
  -barlevel-border-color: #eff1f5;
}

.osd-window .level-bar {
  background-color: #dfe1e7;
}

.pad-osd-window {
  background-color: #eff1f5;
}

.message-list {
  background-color: #eff1f5;
  color: #4c4f69 !important;
}

.toggle-switch {
  color: #4c4f69;
  background-color: #dfe1e7;
}

.toggle-switch:checked {
  background-color: #179299;
}

.message {
  background-color: #dfe1e7;
  margin-left: 16px;
  margin-top: 8px;
}

.message-list-placeholder {
  color: #4c4f69;
}

.message-header, .message-body, .message-icon, .message-title {
  color: #4c4f69;
}

.message-close-button {
  background-color: #179299;
  color: #dfe1e7;
}

.message-close-button:hover {
  color: #eff1f5;
}

.message-media-control {
  color: #4c4f69;
}

.message-media-control:hover, .message-media-control:focus {
  background-color: #179299;
  color: #eff1f5;
}

.modal-dialog .modal-dialog-button-box .modal-dialog-button, .lg-obj-inspector-button, #LookingGlassDialog > #Toolbar .lg-toolbar-button, .candidate-page-button, .message .message-header .flat.message-expand-button,
.message .message-header .flat.message-close-button, .message-notification-group .flat.message-collapse-button {
  color: #4c4f69;
  background-color: #dfe1e7;
}

.modal-dialog .modal-dialog-button-box .modal-dialog-button:hover, .lg-obj-inspector-button:hover, #LookingGlassDialog > #Toolbar .lg-toolbar-button:hover, .candidate-page-button:hover, .icon-button.flat:hover, .message .message-header .flat.message-expand-button:hover,
.message .message-header .flat.message-close-button:hover, .message-notification-group .flat.message-collapse-button:hover, .button.flat:hover, .popup-menu .button:hover {
  color: #eff1f5;
  background-color: #179299;
}

.modal-dialog {
  background-color: #eff1f5;
  color: #4c4f69;
}

.icon-button:last-child {
  color: #4c4f69;
  background-color: #dfe1e7;
}

.icon-button:last-child:hover {
  color: #4c4f69;
  background-color: #e6e9ef;
}

