[Desktop Entry]
Name=System Update
Comment=Do a silly tograde
Exec=skllyjust update
Icon=skllyblue-update
Terminal=true
Type=Application
Categories=System;
